/*--------------------------------------------------------------
== Onepage Nav
--------------------------------------------------------------*/
.wpr-onepage-nav {
    position: fixed;
    z-index: 99999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.wpr-onepage-nav-item {
    position: relative;
}

.wpr-onepage-nav-item:last-child {
    margin-bottom: 0 !important;
}

.wpr-onepage-nav-vr-top .wpr-onepage-nav {
    top: 0;
}

.wpr-onepage-nav-vr-middle .wpr-onepage-nav {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.wpr-onepage-nav-vr-bottom .wpr-onepage-nav {
    bottom: 0;
}

.wpr-onepage-nav-hr-left .wpr-onepage-nav {
    left: 0;
}

.wpr-onepage-nav-hr-right .wpr-onepage-nav {
    right: 0;
}

.wpr-onepage-nav-item .wpr-tooltip {
    text-align: center;
}

.wpr-onepage-nav-item:hover .wpr-tooltip {
    opacity: 1;
    visibility: visible;
}

.wpr-onepage-nav-hr-left .wpr-onepage-nav-item:hover .wpr-tooltip {
    -ms-transform: translate(10%, -50%);
    transform: translate(10%, -50%);
    -webkit-transform: translate(10%, -50%);
}

.wpr-onepage-nav-hr-left .wpr-onepage-nav-item .wpr-tooltip {
    top: 50%;
    left: 100%;
    -ms-transform: translate(20%, -50%);
    transform: translate(20%, -50%);
    -webkit-transform: translate(20%, -50%);
}

.wpr-onepage-nav-hr-left .wpr-onepage-nav-item .wpr-tooltip:before {
    left: auto;
    left: -8px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

.wpr-onepage-nav-hr-right .wpr-onepage-nav-item:hover .wpr-tooltip {
    -ms-transform: translate(-110%, -50%);
    transform: translate(-110%, -50%);
    -webkit-transform: translate(-110%, -50%);
}

.wpr-onepage-nav-hr-right .wpr-onepage-nav-item .wpr-tooltip {
    top: 50%;
    left: 0;
    -ms-transform: translate(-120%, -50%);
    transform: translate(-120%, -50%);
    -webkit-transform: translate(-120%, -50%);
}

.wpr-onepage-nav-hr-right .wpr-onepage-nav-item .wpr-tooltip:before {
    left: auto;
    right: -8px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
}


/* Defaults */
.elementor-widget-wpr-onepage-nav .wpr-onepage-nav {
    background-color: #605BE5;
    -webkit-box-shadow: 0px 0px 15px 0px #D7D7D7;
    box-shadow: 0px 0px 15px 0px #D7D7D7;
}

.elementor-widget-wpr-onepage-nav .wpr-onepage-nav-item .wpr-tooltip {
    font-size: 14px;
}
